.body1{
   background-image: url(../IMG/fondo.jpg) ;
   background-repeat: no-repeat, repeat;
   background-size: cover;
   
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.poster{
    height: 300px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 22px;
    border-width: 10px;
    border-style:  outset;
    border-color: brown;
}
@font-face {
    font-family: Breaking;
    src: url(../CSS/Breaking\ Bad.ttf);
}
h1{
    font-family: Breaking;
    color: white;
}
  .body{
    background-color: #0c3e11;
    
}
 .table {
    background-color: #000;
    border: 2px solid #000;
    border-collapse: separate;
   }
      
 td {
    border: 2px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 28px;
   }
.centerimg{
    margin: auto;
    display: block;
 }
 .colorprincipal{
    background-color:#045c0d;
 }
 .colorverde{
    background-color: #0c3e11;
 }
 .colorgris{
    background-color: #7b7b7b;
 }
 .verdeamarillo{
    background-color: #758f27;
 }
 .colorblanco{
    background-color: #e6ede6;
 }
 .colorcesped{
    background-color: #43a24d;
 }
 .verdemilitar{
    background-color:#032b07 ;
 }
 .amarilloclaro{
    background-color: #dde5b6;
 }
 .amarillo{
    background-color: #ffb700;
 }
 .bodyform{
   background-color: #0c3e11;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    text-align: left;
 }
 .table1 {
   background-color: #000;
   border: 2px solid #000;
   border-collapse: separate;
   width: 60%;
   height: 60%;
 }
